td {
  border: brown solid;
  height: 100px;
  width: 100px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}

/* game board  */
table {
  border: orange solid;
  margin: 0 auto;
  cursor: pointer;

  position: relative;
  text-emphasis: 40px;
}

#header {
 
  background: url(image/back.jpg);
  background-size:cover;
  text-align: right;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Style the head h2 */
h2 {
  position: absolute;
  left: 239px;
  top: 55px;
  text-emphasis: size 100px;
  font-size: 39px;
  font-weight: bold;
  color:rgb(36, 36, 123);
}
/* Style the head h1 */
h1{
  position: absolute;
  left: 240px;
  top: 30px;
  text-emphasis: size 100px;
  font-size: 25px;
  font-weight: bold;
  color:rgb(36, 36, 123);

}

/* Style the image in the header */
img {
  width: 200px;
  height: 100px;
}

#container {
  border: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
/* cells format */
.spot {
  height: 150px;
  width: 150px;
}

/* Style the list in navigation bar */
.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  float: left;
}

/* Style the top navigation bar */
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: purple;
}

/* Style the topnav links */
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Style the new game button */
button {
  border: 10px;
  display: block;
  color: orange;
  text-emphasis: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: orange;
}

.spot {
  font-size: 130px;
  color: purple;
  background-color: blanchedalmond;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-weight: 900;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.spot:hover {
  background-color: rgb(235, 154, 235);
}

/* this code didnt applay it spoussed to change the color of the winner blocks
.winner {
  font-size: 130px;
  color: white;
  background-color: red;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-weight: 900; */

  /* background-color: red !important; */
}

footer{

  background-color: purple;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-align: center;
}

/* Style all font footer icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 3px;

 
}

.fa:hover {
    opacity: 0.7;
}
/* Set a specific color for each brand */

/* linked in  */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* google icon */
.fa-google {
  background:orange;
  color: white;
}

/* GA icon */
.fa-GA{
 height: 50px;
 width: 63px;
 margin: 5px 3px;
 position: relative;
 top: 3px
}


/* Misk icon */
.fa-misk{
  background:url(image/download.png) no-repeat ;
  background-size:cover;


}

/* footer styling using class name */
.fott{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling the div represinting the portfolio photo and the score for Oplayer */
.score1{
  float: left;
  background:url(image/o.png) ;
  background-size: cover;
  height: 200px;
  width: 200px;
  border:purple solid;
  border: 3px;
  border-style: dotted;
}

/* styling the div represinting the portfolio photo and the score for Xplayer */
.score2{
  float: right;
  background:url(image/sure.png) ;
  background-size: cover;
  height: 200px;
  width: 200px;
  border:purple solid;
  border: 3px;
  border-style: dotted;

}

/* styling the result div */
.score{
text-align: center;
color:purple;
font-weight: bold;
font-size: 20px;
margin-top: 35%;
margin-left: 6%

}


/* styling the text on the xPlayer's result div */
#xresult{
  text-align: center;
  color: purple;
  font-weight: bold;
  font-size: 25px;

  
  
  }

  /* styling the text on the oPlayer's result div */
  #oresult{
    text-align: center;
    color: purple;
    font-weight: bold;
    font-size: 25px;
    margin-left: 6%;
    
    }